*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.tabs li {
    padding: 10px;
    background-color: #f6f4f4;
    border-right: 1px solid white;
    cursor: pointer;
    transition: 0.2s;
}
.tabs li.active,
.tabs li:hover {
    background-color: #ddd;
}
.content {
    background-color: #ddd;
}
.content > div {
    padding: 20px;
}
.content > div:not(:first-child) {
    display: none;
}



/* form{
    margin: 100px;
    color: #FFF; */
/* } */
/* body{
    height: 5000px;
}

div{
    font-size: 40px;
    line-height: 2;
    color: rosybrown;
}

span{
    display: block;
}

button{
    display: none;
    padding: 15px;
    color: white;
    background-color:rgb(130, 129, 130);
    border: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
} */
